:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #f5e300;
  --second-brand-color: #3e3d41;
  --third-brand-color: #dfe5e8;

  --main-font:  'Montserrat';
  --title-font:  'Montserrat Bold';
  --main-title-font: 'Saira ExtraCondensed';

  font-size: 62.5%;
}
